<mat-card [routerLink]="'/product/' + productData.id" class="product-card">
  <mat-card-header>
    <mat-card-title class="product-card__title">{{
      productData.title
    }}</mat-card-title>
    <mat-card-subtitle> {{ productData.category }} </mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    class="product-card__img"
    [src]="productData.image"
    alt=""
  />
  <mat-card-content>
    <p class="product-card__description">
      {{ productData.description }}
    </p>
    <p class="product-card__price">
      <strong>price: </strong> {{ productData.price | currency }}
    </p>

    <p class="product-card__rating">
      <strong>rating: </strong>

      <star-rating
        clas="product-details__rating"
        [starType]="'svg'"
        [showHalfStars]="true"
        [rating]="productData.rating.rate"
      ></star-rating>
    </p>
    <p class="product-card__count">
      <strong>Remaining: </strong> {{ productData.rating.count }}
    </p>
    <app-add-to-cart-btn [productId]="productData.id"></app-add-to-cart-btn>
  </mat-card-content>
</mat-card>
