@use "/src/scss/abstracts/mixins" as m;
@use "/src/scss/abstracts/variables" as v;

header {
  background-color: v.$gray-light-clr;
  padding-block: 20px;
  margin-bottom: 50px;
  .content {
    @include m.flexer($gap: 20px, $wrap: wrap, $align: center);
  }
  .company-logo {
    color: black !important;
    font: {
      size: 1.3rem;
      weight: 500;
    }
    &:hover {
      color: v.$purple-clr !important;
    }
    transition: color v.$transition-duration ease-out;
  }

  .social-media-nav,
  .main-nav {
    &__list {
      @include m.flexer($gap: 20px);
    }
  }

  .main-nav {
    @include m.element("link") {
      font-size: 1.1rem;
      color: v.$gray-clr;
      transition: color v.$transition-duration ease-out;
      &:hover {
        color: v.$purple-clr;
      }
    }
  }

  .social-media-nav {
    margin-left: auto;
    @include m.element("link") {
      width: 20px;
      color: v.$black-clr;
      transition: color v.$transition-duration ease-out;

      &:hover {
        color: v.$purple-clr;
      }
    }
  }

  .main-nav,
  .social-media-nav {
    @include m.respond-to(md) {
      display: none;
    }
  }

  .toggle-side-bar {
    display: none;
    margin-left: auto;
    @include m.respond-to(md) {
      display: initial;
    }
    // color: black !important;
    // transition: rotate v.$transition-duration ease-out;
    // &:hover{
    //   rotate: 45deg;
    // }
  }
}
