@use "/src/scss/abstracts/mixins" as m;
@use "/src/scss/abstracts/variables" as v;

.footer {
  padding-block: 50px;
  background-color: v.$gray-light-clr;
  @include m.element("heading") {
    font: {
      weight: 400;
      size: 1.8rem;
    }
    color: v.$black-clr;
  }

  @include m.element("how-to-get") {
    font-size: 1.3rem;
    color: v.$gray-clr;
  }

  @include m.respond-to(sm) {
    @include m.element(("heading", "how-to-get")) {
      text-align: center;
    }
  }
}

#get-app-form {
  @include m.flexer($gap: 20px, $align: center, $wrap: wrap, $justify: center);
  .email-input {
    flex-basis: 400px;
    flex-grow: 10;
  }
  padding-block: 20px;
}
.mdc-button__label {
  color: red;
}
.partners {
  padding-block: 20px;
  border-block: 1px solid v.$gray-clr;
  @include m.element("heading") {
    text-align: center;
  }
}
.partners,
.payment-partners__list,
.install-section,
.install-section__buttons {
  @include m.flexer($gap: 20px, $wrap: wrap, $align: center, $justify: center);
  @include m.respond-to(xl) {
    // gap: 10px;
  }
}

.install-section {
  margin-left: auto;
  @include m.respond-to(xl) {
    margin-left: initial;
  }
  @include m.element("img") {
    height: 40px;
  }
  @include m.element("heading") {
    text-align: center;
  }
  @include m.element("link") {

  @include m.flexer( $direction:column);
    
  }
  @include m.element("img") {
    object-fit: cover;
    width: 135px;
  }

}
