<ng-container *ngIf="productData">
  <div class="cart-item">
      <img
        mat-card-image
        [src]="productData.image"
        class="cart-item__img"
        alt=""
      />
    <div class="cart-item__info">
      <h2 class="cart-item__tile">{{ productData.title }}</h2>
      <p class="cart-item__price">Price: {{ productData.price | currency }}</p>
      <p class="cart-item__total-price">
      </p>
      <app-cart-quantity-control
        [productId]="productData.id"

      ></app-cart-quantity-control>
    </div>
  </div>
</ng-container>
