<section class="product-details">
  <div class="content">
    <div class="product-details__img-container">
      <img [src]="product.image" alt="" class="product-details__img" />
    </div>
    <div class="product-details__info">
      <h2 class="product-details__title">{{ product.title }}</h2>
      <p class="product-details__description">L{{ product.description }}</p>
      <p class="product-details__category">{{ product.category }}</p>
      <div class="product-details__bottom">
        <p class="product-details__price">
          {{ product.price | currency }}
        </p>
        <star-rating
          clas="product-details__rating"
          [starType]="'svg'"
          [showHalfStars]="true"
          [rating]="product.rating.rate"
          labelText="{{ product.rating.rate }}/5"
        ></star-rating>
      </div>
      <app-cart-btn [productId]="product.id"></app-cart-btn>
    </div>
  </div>
</section>
