<ng-container *ngIf="productData">
  <section class="product-details">
    <div class="content">
      <div class="product-details__img-container">
        <img [src]="productData.image" alt="" class="product-details__img" />
      </div>
      <div class="product-details__info">
        <h2 class="product-details__title">{{ productData.title }}</h2>
        <p class="product-details__description">
          L{{ productData.description }}
        </p>
        <p class="product-details__category">{{ productData.category }}</p>
        <div class="product-details__bottom">
          <p class="product-details__price">
            {{ productData.price | currency }}
          </p>
          <star-rating
            clas="product-details__rating"
            [starType]="'svg'"
            [showHalfStars]="true"
            labelText="{{ productData.rating.rate }}/5"
            [rating]="productData.rating.rate"
          ></star-rating>
        </div>
        <app-add-to-cart-btn [productId]="productData.id"></app-add-to-cart-btn>
      </div>
    </div>
  </section>
</ng-container>
